html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}


#homePage{
  height:100vh;
  background: url("../img/backgrounds/seashoredark.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  overflow:hidden;
}

#myName{
  display:block;
  margin-left:30px;
  letter-spacing:10px;
}

#hero{
  font-family: "Raleway";
  margin-top:150px;

  text-align:center;
  margin-right:30px;
  vertical-align:center;*/
}

#hero li{ 
  list-style: none;
}

#projectButton{
  margin-top:250px;
  letter-spacing:5px;
  text-align:center;
}


#aboutPage {
  background: url("../img/backgrounds/blur-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;

}

#aboutPage p{
  float:left;
  display:inline;
  margin-top:15px;
  font-family: "Raleway", sans-serif;
  font-size: 17px;  
}

#aboutPage .row:nth-of-type(1){
  background-color:#bdc3c7;
  box-shadow: 5px 5px 5px #888888;
}

#aboutPage .row:nth-of-type(2){
  margin-bottom: 100px;
}

#navList {
  margin-top:10px;
  margin-right:30px;

}

#navList a{
  margin-right:10px;
}

#navList a:hover{
  background-color: #16a085;
}

#portrait{
  margin-top:30px;
  background: url("../img/me/selfportrait.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius:50%;
  border: 2px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#dumbbell, #coding, #gaming{
  font-family: "Raleway";
  color: white;
  text-align:center;
  padding:20px;
}

#dumbbell{
  background-color: #e74c3c;
}

#coding{
  background-color: #3498db;
}

#gaming{
  background-color: #f1c40f;
}

#skillsPage{
  background: url("../img/backgrounds/hexagon-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;

}

#skillsPage h3{
  letter-spacing:10px;
}

#skillsPage .col-sm-3{
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  transition: all .2s ease-in-out;
}

#skillsPage .col-sm-3:hover{
  cursor:pointer;
  background-color: white;
  padding-bottom:10px;
  transform: scale(1.1);
  z-index: 1;
}

#skillsPage .col-sm-3:hover img{
  opacity:0.1;
}


#skillsPage .row:nth-of-type(5){
    margin-bottom:100px;
}

/**** Programming Languages ****/

#cplusplus{
  background-color: #4ECDC4;
}
#python{
  background-color: #e74c3c;
}
#java{
  background-color: #f39c12;
}
#php{
  padding-top:42px !important;
  padding-bottom:42px !important;
  background-color: #3498db;
}
#html5{
  background-color: #d91e18;
}
#css3{
  background-color: #446cb3;
}
#javascript{
  background-color: #f1c40f;
}
#mysql{
  background-color: #f39c12;
}

/******* Frameworks ********/

#angular{
  background-color: #19b5fe;
}
#laravel{
  background-color: #f1c40f;
}
#node{
  background-color: #f64747;
}
#zend{
  padding-top:42px !important;
  padding-bottom:42px !important;
  background-color: #CF000F;
}

/******** Software **********/
#eclipse{
  background-color: #AEA8D3;
}
#pycharm{
  background-color: #03C9A9;
}
#visualstudio{
  background-color: #8E44AD;
}
#mysqlworkbench{
  background-color: #89C4F4;
}
#mongodb{
  padding-top:42px !important;
  padding-bottom:42px !important;
  background-color: #F22613;
}

#linux{
  background-color: #22A7F0;
}
#ubuntu{
  background-color: #34495E;
}
#microsoft{
  background-color: #bdc3c7;
}

/***** END RESUME SECTION *********/

#projectsPage{
  background-color: #ecf0f1;
  overflow:auto;
}

/********************************* CLASSES **********************************/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar-header {
  margin-top:10px;
  float: left;
}

.sectionHeader{
  margin-top:70px;
  font-family: "Lato", sans-serif;
  font-size:80px;
  color: #2c3e50;
}

.floatRight{
  float:right;
}

.navbar{
  position: fixed;
  min-height: 50px;
  margin-bottom: 20px;
  /*background:transparent;*/
  background-color:#222;
  border:0px;
}

.navbar h2{
  font-family: "Lato";
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-right a{
  font-family: "Lato";
  color: white !important;
}

.navBg{
  background-color:#22313F;
  animation: slideInDown 1s;
  -webkit-animation: slideInDown 1s;
  -moz-animation: slideInDown 1s;
  -o-animation: slideInDown 1s;
  padding-bottom:10px;
}

.scrollDownButton{
  text-align:center;
}

.bounce {
  position: absolute;
  bottom: 30px;
  left: 50% ;
  width: 45px;
  height: 45px ;
  margin-left:-30px;
  border: 2px solid #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.fa-angle-down:hover{
  color:#1abc9c;
  cursor: pointer;
}

.skillText{
  position:absolute;
  top:25px;
  left: 0;
  right:0;
  font-family:'Lato', sans-serif;
  color:#2c3e50;
  animation:zoomIn 0.5s both ease-in;
  -webkit-animation:zoomIn 0.5s both ease-in; 
  -moz-animation:zoomIn 0.5s both ease-in; 
  animation:zoomIn 0.5s both ease-in;
}


.ghost-button-full-color {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  transition: color 0.2s ease-out,
              background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button-full-color:hover,
.ghost-button-full-color:active {
  cursor: pointer;
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #fff;
  transition: color 0.2s ease-in,
              background-color 0.2s ease-in,
              border-color 0.2s ease-in;
}


/************************ TRANSITIONS/ TRANSLATIONS ************************/ 

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}


/*************************** MEDIA QUERIES ********************************/

/* Responsive: Portrait tablets and up */
@media (min-width: 768px){
  .menu-toggle{
    display:none;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration:none;
}


.navbar {
  position: fixed;
  min-height: 50px;
  margin-bottom: 20px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar li{
  position: relative;
  list-style: none;
  display:block;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
}

.navbar-fixed-top, {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999;
}
.navbar-inverse .navbar-nav > li > a {
  color: #999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
